<!DOCTYPE html>
<html lang="de">
  <!-- This is an HTML5 template -->
  <head>
    <title></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/desktop.css">
    <link rel="author" href="humans.txt" />
  </head>
  <body>
    <header>
      <nav>
        <%
          var currentPage = filename.slice(filename.lastIndexOf('/') + 1,
                                           filename.lastIndexOf('.'));
        %>
        <ul>
          <% for (var page in pages) { %>
            <li><a href="/<%= page %>"<% if (currentPage === page ) { %>
              class="current"
            <% } %>><%= pages[page] %></a></li>
          <% } %>
        </ul>
    </nav>
    </header>
    <% include sidebar %>
    <div role="main">
      <% if (typeof error !== 'undefined') { %>
        <h1>Error</h1>
        <p>The following error occured:</p>
        <p><%= error %></p>
      <% } %>
