<% include layouts/top %>
<% if (typeof error === 'undefined') { %>
  <h1>Virus</h1>
  <p>Dieser Branch untersucht die Möglichkeit, dass ein Virus das Problem ausgelöst haben könnte.</p>
  <p>Tags: foo, bar, baka <a href="#">TAG HINZUGÜGEN</a></p>
  <p>14 Beiträge von 3 Personen, Bewertungen: Maximum für einen Beitrag: 2, Summe: 3, Schnitt: 0,21, Inhalt: Text: 4, Quellcode: 8, Memory Dump: 2</p>
  <p>Erster Beitrag: 23. Januar 2013, letzter Beitrag: 25. März 2013</p>
  <h1>Übernommene Dateien</h1>
  <ul>
    <li>Fehlerbericht, Sybille Moep, 7. März 2013 (<a href="#">löschen</a>)</li>
    <li>Speicherabbhild, Sybille Moep, 8. März 2013 (<a href="#">löschen</a>)</li>
    <li><a href="#">(weitere Datei importieren)</a></li>
  </ul>
  <h1>Beiträge</h1>
  <h2>Erläuterung</h2>
  <p>Bewertung: 1 (<a href="#">+</a>/<a href="#">-</a>)</p>
  <p>Ich glaube, dass es an einem Virus liegt, weil ich Ahnung habe</p>
  <p>Von: <a href="/users/hans">hans</a>, Am 23. Januar 2013</p>
  <h2>Idee</h2>
  <p>Bewertung: 2 (<a href="#">+</a>/<a href="#">-</a>)</p>
  <p>Folgender Code im Programm enthält vermutlich einen Fehler:</p>
  <pre><code>
@P=split//,".URRUU\c8R";@d=split//,"\nrekcah xinU / lreP rehtona tsuJ";sub p{
@p{"r$p","u$p"}=(P,P);pipe"r$p","u$p";++$p;($q*=2)+=$f=!fork;map{$P=$P[$f^ord
($p{$_})&amp;6];$p{$_}=/ ^$P/ix?$P:close$_}keys%p}p;p;p;p;p;map{$p{$_}=~/^[P.]/&amp;&amp;
close$_}%p;wait until$?;map{/^r/&amp;&amp;&lt;$_>}%p;$_=$d[$q];sleep rand(2)if/\S/;print
  </code></pre>
<% } %>
<% include layouts/bottom %>