<% include layouts/top %>
<% if (typeof error === 'undefined') { %>
  <h1>Fall 23</h1>
  <p>Ein Kunde berichtete, beim drücken auf die Power-Taste seines Computers ertöne der Imperiale Marsch aus StarWars. Eine erste Idee, das Geräuscht auf den Start-Sound von Mac-Geräten oder Windows zurückzuführen verlief ins Leere, da der Kunde noch einen DOS-Computer verwendet.</p>
  <p>Erstellungsdatum: 1997-07-16T19:20:30+01:00</p>
  <p>Ersteller: <a href="/users/hans">hans</a></p>
  <p>Tags: <a href="#">foo</a>, <a href="#">bar</a></p>
  <h1>Eingangsdokumente</h1>
  <ul>
    <li>Fehlerbericht, Paul Nutzlos, 7. März 2013</li>
    <li>Fehlerbericht, Sybille Moep, 7. März 2013</li>
    <li>Speicherabbhild, Sybille Moep, 8. März 2013</li>
    <li>Screenshot von Fehlermeldung, Heinz Huber, 10. März 2013</li>
  </ul>
  <h1>Zweige</h1>
  <p><a href="/cases/23/biosfehler">BIOS-Fehler</a> (31 Beiträge von 29 Personen)</p>
  <ul>
    <li>Bewertungen: Maximum für einen Beitrag: 12, Summe: 69, Schnitt: 0,17</li>
    <li>Inhalt: Text: 48, Quellcode: 12, Screenshots: 9</li>
    <li>Erster Beitrag: 1. Februar 2013, letzter Beitrag: 25. März 2013</li>
  </ul>
  <p><a href="/cases/23/virus">Virus</a> (14 Beiträge von 3 Personen)</p>
  <ul>
    <li>Bewertungen: Maximum für einen Beitrag: 2, Summe: 3, Schnitt: 0,21</li>
    <li>Inhalt: Text: 4, Quellcode: 8, Memory Dump: 2</li>
    <li>Erster Beitrag: 23. Januar 2013, letzter Beitrag: 17. März 2013</li>
  </ul>
  <p><a href="/cases/23/benchmarks">Benchmark</a> (3 Beiträge von 1 Person)</p>
  <ul>
    <li>Bewertungen: Maximum für einen Beitrag: 0, Summe: 0, Schnitt: 0</li>
    <li>Inhalt: Text: 1, Benchmark: 2</li>
    <li>Erster Beitrag: 2. Januar 2013, letzter Beitrag: 3. Januar 2013</li>
  </ul>

<% } %>
<% include layouts/bottom %>