<% include layouts/top %>
<% if (typeof error === 'undefined') { %>
  <h1>Case Database</h1>
  <table>
    <tr>
      <th>Case ID</th>
      <th>Creation Date</th>
      <th>Summary</th>
    </tr>
    <% for (var i in cases) { %>
    <tr>
      <td><a href="/cases/<%= i %>"><%= i %></a></td>
      <td><%= cases[i].creationDate %></td>
      <td><%= cases[i].summary %></td>
    </tr>
    <% } %>
  </table>
<% } %>
<% include layouts/bottom %>