<% include layouts/top %>
<% if (typeof error === 'undefined') { %>
  <h1>Login</h1>
  <p>
    <form action=".">
      <input type="email" placeholder="Benutzername" autofocus>
      <input type="password" placeholder="Passwort">
      <input type="submit">
      <input type="text"><!-- invisible nonce -->
    </form>
  </p>
  <h1>Registrieren</h1>
  <p>
    <form action=".">
      <input type="email" placeholder="Benutzername">
      <input type="password" placeholder="Passwort">
      <input type="password" placeholder="Passwort wiederholen">
      <input type="submit">
      <input type="text">
    </form>
  </p>
<% } %>
<% include layouts/bottom %>