<% include layouts/top %>
<% if (typeof error === 'undefined') { %>
  <h1>Users List</h1>
  <table>
    <tr>
      <th>Username</th>
      <th>Tags</th>
      <th>Important for cases</th>
    </tr>
    <% for (var i in users) { %>
    <tr>
      <td><a href="/users/<%= i %>"><%= i %></a></td>
      <td><%= users[i].tags %></td>
      <td><%= users[i].cases %></td>
    </tr>
    <% } %>
  </table>
<% } %>
<% include layouts/bottom %>