<!-- TODO: Make this page a markdown template and use it for README.md and home.ejs. -->
<h1 class="pageTitle">Welcome to REaSoN</h1>

<h1>What?</h1>
<p>REaSoN provides a two-dimensional chat, stored in GitHub repositories.</p>
<p>SCREENSHOT</p>


<h1>Why?</h1>
<p>Common forums often have the following structure:</p>
<ul>
  <li>Topic
    <ul>
      <li>RE: Topic
        <ul>
          <li>RE: RE: Topic
            <ul>
              <li>RE: RE: RE: Topic</li>
            </ul>
          </li>
          <li>RE: RE: Topic</li>
        </ul>
      </li>
      <li>RE: Topic</li>
    </ul>
  </li>
</ul>
<p>This is because common forums are one-dimensional. REaSoN is a prototype forum that extends the common structure by a second dimension.</p>
<p>Instead of citing or re-ing, you can directly response to any (also multiple) contributions, whereby a two-dimensional graph of response-hierarchy is built.</p>

<h1>How?</h1>
<p>REaSoN is a web app based on HTML, CSS, and Javascript. Backend, it uses GitHub to store the chat as a graph.</p>
<p>To set up a own topic, just create a repository at GitHub with a README file and enter your first topic text as the commit. Now login in this page, enter the repos path above to see the graph and interact with it. All persons with access to the repository have access to the graph.</p>

<h1>Who?</h1>
<dl>
  <dt>Homepage</dt><dd><a href="https://dctr.github.io" target="_blank">https://dctr.github.io</a> (WIP)</dd>
  <dt>GitHub Profile</dt><dd><a href="https://github.com/dctr" target="_blank">https://github.com/dctr</a></dd>
</dl>